header{
	height: 70px;
	background-image: linear-gradient(to right, #088258 , #086982);
	margin: 0 auto;
	font-family: comic sans ms;
}

.header-logo{
	float: left;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 30px;
	border: 100px;
	
}
.header-list li{
	list-style: none;
	float: left;
	padding: 25px 35px;
	font-size: 18px;
	border: 0px;
	
}
.header-list button{
	float: right;
	padding: 25px;
	height: 100%;
	background-color: #086982;
	border: 0px;
	
}
.header-list li:hover{
	background-color: #06bf8e;
	border-radius: 5px;
}
.header-list button:hover{
	background-color: #06a0bd;
	border-radius: 5px;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

.main{
	background-size: cover;
	background-image: url(space.jpg);
	height: 600px;
	width: 100%;
	margin: 0px auto;
	color: white;
	font-family: comic sans ms;
	
}
.main h1{
	font-size: 90px;
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
}
ul{
	list-style-position: inside;
	color: black;
}
.headings{
	color: black;
	font-size: 50px;
	padding-left: 30px;
}
.reasons{
	color: black;
	font-size: 25px;
}
footer{
	height: 70px;
	background-image: linear-gradient(to right, #088258 , #086982);
	margin: 0 auto;
	font-family: comic sans ms;
	text-align: center;
	padding: 10px;
}
.mains{
	background-size: cover;
	background-image: url(space.jpg); 
	height: 1000px;
	width: 100%;
	margin: 0px auto;
	color: black;
	padding: 25px;
	font-family: comic sans ms;
}
.head{
	float: left;
	padding: 10px 10px;
}

